.fff {
    margin-right: 15px;
}

.head {
    height: 96px;
}

.logg {
    display: inline-block;
    float: left;
    width: 240px;
    height: 68px;
    margin: 10px 0 18px 0;
}

.flow {
    font-size: 0;
    word-spacing: -1em;
    width: 640px;
    height: 70px;
    float: right;
    margin: 15px 0;
}

.flow li {
    font-size: 12px;
    vertical-align: top;
    letter-spacing: normal;
    word-spacing: normal;
    display: inline-block;
    width: 25%;
    height: 70px;
    position: relative;
    z-index: 1;
}

.flow li i {
    display: inline-block;
    background: #FFF url(../img/nc_cart_pic.png) no-repeat;
    width: 30px;
    height: 30px;
    margin-left: -15px;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 50%;
}

.step1 {
    background-position: 0 0;
}

.flow .step2 {
    background-position: -30px 0;
}

.flow .step3 {
    background-position: -60px 0;
}

.flow .step4 {
    background-position: -90px 0;
}

.flow li p {
    color: #CCC;
    text-align: center;
    width: 100%;
    height: 24px;
    position: absolute;
    z-index: 2;
    left: 0;
    bottom: 0;
    overflow: hidden;
}

.flow li sub {
    background-color: #FFF;
    width: 5px;
    height: 5px;
    margin-left: -3px;
    border: solid 1px #CCC;
    border-radius: 4px;
    position: absolute;
    z-index: 2;
    top: 34px;
    left: 50%;
}

.flow li .hr {
    background-color: #DDD;
    width: 100%;
    height: 1px;
    margin: 0!important;
    border: none 0;
    position: absolute;
    z-index: 1;
    top: 37px;
    left: 0;
}

.flow .current sub {
    background-color: #616161;
    border-color: #616161;
    box-shadow: 0 0 1px 3px #e1e1e1;
}

.flow .current p {
    color: #616161;
}


/* 购物车里没有商品得时候 */

.noshop {
    width: 480px;
    height: 340px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.ico {
    display: inline-block;
    background: url(../img/cart_bg.png) no-repeat -100px -50px;
    width: 128px;
    height: 128px;
    position: absolute;
    z-index: 1;
    top: 80px;
    left: 0;
}

.noshop h4 {
    font: lighter 22px/30px "microsoft yahei";
    color: #777;
    position: absolute;
    z-index: 1;
    top: 110px;
    left: 180px;
}

.noshop p {
    position: absolute;
    z-index: 1;
    top: 160px;
    left: 180px;
}

.a1 {
    display: inline-block;
    background-color: #00ACAC;
    border-color: #00ACAC;
    color: #FFF;
    border-radius: 3px;
    font-size: 12px;
    line-height: 1.5;
    padding: 5px 10px;
    margin-right: 10px;
}

.a2 {
    display: inline-block;
    background-color: #B6C2C9;
    border-color: #B6C2C9;
    color: #FFF;
    border-radius: 3px;
    font-size: 12px;
    line-height: 1.5;
    padding: 5px 10px;
    display: inline-block;
}


/*  购物车里没有商品得时候结束*/


/* 购物车有商品 */

.box {
    margin: 30px 0;
}

.top {
    width: 100%;
    height: 40px;
    color: #212121;
    font-size: 12px;
    border: solid 1px #E9E9E9;
    background-color: #F3F3F3;
}

.h4 {
    float: left;
    line-height: 40px;
    width: 132px;
    text-align: center;
}

.clear {
    clear: both;
}

.top_1 {
    width: 80px;
    text-align: center;
}

.top .top_2,
.content .top_2 {
    width: 602px;
    text-align: center;
}

.top_2 span {
    margin-left: 20px;
}

.cc {
    width: 30px;
    text-align: center;
}

.aa {
    width: 20px;
    text-align: center;
}

.content h4 {
    line-height: 120px;
}

.content {
    line-height: 200px;
    height: 200px;
}

img {
    vertical-align: middle;
}


/* 购物车脚部开始 */

.footer11 {
    height: 60px;
    width: 100%;
    border: solid 1px #E9E9E9;
    background-color: #F3F3F3;
    line-height: 60px;
}

.footer_011 {
    float: left;
}

.footer_022 {
    float: right;
}

.del {
    margin-left: 30px;
}

.chk {
    margin-left: 80px;
}

.total {
    color: #969696;
}

.money {
    margin-right: 110px;
}

.jiesuan {
    display: inline-block;
    width: 116px;
    height: 38px;
    background-color: #ff2832;
    margin-top: 12px;
    line-height: 38px;
    text-align: center;
    cursor: pointer;
    color: #fff;
}


/* 购物车结束 */