/*详情页的样式文件*/

.de_container {
    margin-top: 20px;
}

.crumb_wrap {
    height: 25px;
}

.crumb_wrap a {
    margin-right: 10px;
}

.preview_wrap {
    width: 380px;
    height: 490px;
}

.preview_img {
    position: relative;
    width: 360px;
    height: 360px;
    border: 1px solid #ccc;
}

.preview_img>img {
    max-width: 360px;
    max-height: 360px;
}

.mask {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 250px;
    background: #FEDE4F;
    opacity: .5;
    border: 1px solid #ccc;
    cursor: move;
}

.big {
    display: none;
    position: absolute;
    left: 375px;
    top: 0;
    width: 495px;
    height: 495px;
    background-color: pink;
    z-index: 999;
    border: 1px solid #ccc;
    overflow: hidden;
}

.big img {
    position: absolute;
    top: 0;
    left: 0;
}

.preview_list {
    position: relative;
    left: 0;
    top: 0;
    height: 60px;
    margin-top: 10px;
    width: 360px;
    height: 56px;
}

.list_item {
    width: 360px;
    height: 60px;
    margin: 0 auto;
}

.list_item li {
    float: left;
    width: 56px;
    height: 56px;
    border: 2px solid transparent;
    margin: 0 2px;
    cursor: pointer;
}

.list_item li img {
    width: 100%;
    height: 100%;
}

.list_item li.current {
    border-color: #c81623;
}

.itemInfo_wrap {
    position: relative;
    z-index: 2;
    background-color: transparent;
    float: left;
    width: 660px;
    margin-left: 10px;
}

.sku_name {
    height: 30px;
    font-size: 16px;
    font-weight: 700;
}

.news {
    height: 32px;
    color: #e12228;
}

.ncs-meta {
    background: url(../img/ncs_meta_bg.png) no-repeat 50% 50%;
    background-size: cover;
    margin-bottom: 10px;
}

.ncs-meta .goods-price {
    padding: 12px 0;
}

.ncs-meta .goods-price dt {
    text-align: left;
    width: 60px;
    margin-left: 20px;
    color: #777;
    font-size: 12px;
    line-height: 30px;
}

.ncs-meta .goods-price dd {
    text-align: left;
    width: 580px;
    color: #000;
}

.yuan {
    font-size: 16px;
    color: #e4393c;
}

.goods-price .integer,
.goods-price .pointer,
.goods-price .decimal {
    font-size: 26px;
    color: #e4393c;
    font-weight: 500;
    line-height: 30px;
}

.logi {
    margin-top: 10px;
    border-top: .5px solid #F1F1F1;
    border-bottom: .5px solid #F1F1F1;
}

.logi p {
    color: #666;
    font-size: 12px;
    height: 34px;
    line-height: 34px;
}

.logi p a {
    color: #c5000c;
}

.buy {
    font-size: 12px;
    color: #666;
    margin-top: 20px;
}

.buy a {
    display: inline-block;
    text-align: center;
    width: 20px;
    height: 20px;
    background: #FAFAFA;
    border: 1px solid #E1E1E1;
    margin-top: -1px;
    margin-right: -5px;
}

.buy input {
    width: 60px;
    height: 28px;
    border: 1px solid #E1E1E1;
    margin-top: 2px;
    position: absolute;
    top: -3px;
    left: 84px;
    text-align: center;
}

.buy p {
    position: relative;
}

.buy p a {
    display: inline;
    width: 28px;
    height: 28px;
    line-height: 28px;
    font-weight: bold;
    position: absolute;
    top: 0px;
    left: 54px;
}

.buy p .add {
    position: absolute;
    left: 146px;
}

.bo {
    padding: 0px 55px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.bo a {
    display: inline-block;
    text-align: center;
    background: #c5000c;
    width: 130px;
    height: 40px;
    color: #E1E1E1;
    line-height: 40px;
    margin-right: 15px;
}

.bo .join {
    display: inline-block;
    color: #b63232;
    border: 1px solid #F2DCBC;
    background: #FFF5EC;
}

.pp {
    padding: 20px 0
}

.part-r div {
    width: 120px;
    height: 120px;
}

.part-r .do1 {
    background: url("../img/side1.jpg") no-repeat;
}

.part-r .do2 {
    background: url("../img/side2.jpg") no-repeat;
}

.part-r .do3 {
    background: url("../img/side3.jpg") no-repeat;
}


/* 产品细节模块 */

.rain {
    overflow: hidden;
}

.rain .rain-left {
    float: left;
    width: 210px;
    /* height: 451px; */
}

.rain .rain-left .title {
    height: 39px;
    box-sizing: border-box;
    padding: 5px 5px;
    font-size: 14px;
    border-top: dotted 1px #E1E1E1;
}

.rain .rain-left .lefto ul {
    margin-top: 10px;
    border: solid 1px #E1E1E1;
}

.rain .rain-left .lefto li {
    border-top: dotted 1px #E1E1E1;
    padding: 10px 10px;
    font-size: 12px;
    height: 60px;
}

.rain .rain-left .lefto .text {
    margin-left: 10px;
    margin-top: 4px;
    float: left;
    width: 58px;
    font-size: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.rain .rain-left .lefto .text a {
    width: 80px;
    height: 18px;
    font-size: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.rain .rain-left .lefto .text p {
    height: 16px;
}

.rain .rain-left .lefto .img {
    float: left;
    width: 60px;
    height: 60px;
}

.tab {
    margin-top: 10px;
    position: relative;
    float: right;
    width: 980px;
}

.tab .red a {
    font-weight: 600;
    color: #c5000c;
}

.tab .tab-tit {
    width: 980px;
    height: 58px;
    background: #FFF;
    border: solid 1px;
    border-color: #e4393c #E5E5E5 #E5E5E5;
    padding: 18px 10px;
    box-sizing: border-box;
}

.tab .tab-tit li {
    height: 58px;
    float: left;
}

.tab .tab-tit li a {
    margin-left: 30px;
    font-size: 14px;
    /* float: left; */
}

.tabdown {
    height: auto;
    margin-top: 25px;
}

.tabdown .box1,
.tabdown .box2,
.tabdown .box3.box4 {
    margin-bottom: 20px;
}

.tabdown div {
    width: 980px;
    text-align: center;
}

.tabdown div img:nth-child(1) {
    margin-top: 10px;
}

.ddd {
    display: none;
}

.tabdown .box1 {
    border-top: 1px solid #666;
}

.tabdown .box1 img {
    margin-top: -4px;
}

.tabdown .box2 .case {
    padding: 35px 50px;
    text-align: left;
    width: 980px;
    height: 240px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.tabdown .box2 .case h4 {
    height: 40px;
    color: #c5000c;
}

.tabdown .box2 .case p {
    font-size: 12px;
    height: 50px;
}

.reminder {
    font-size: 12px;
}

.reminder p {
    text-align: left;
    height: 20px;
}

.reminder .pr {
    height: 80px;
}

.ccti {
    margin-top: 20px;
}